      <div class="row">
        <div class="col-md-6">
          <blockquote class="quote">"The beauty of <strong>lobstromonous</strong> is that it means whatever you want it to mean." - Big Fat Quiz of the Year 2012</blockquote>
          <h1 class="product">Lobstromonous</h1>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="images/Lobster_NSRW-flip.png">
        </div>
      </div>
