      <div class="row">
        <div class="col-md-6">
          <blockquote class="quote">"How has your day been, darling?"</blockquote>
          <blockquote class="quote">"Simply lobstromonous!"</blockquote>
          <h1 class="product">Lobstromonous</h1>
          <h2 class="extra-extra">Becoming a part of your life in 2015...</p>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="images/Lobster_NSRW-flip.png">
        </div>
      </div>
