      <div class="row">
        <div class="col-md-6">
          <h1 class="product">Lobstromonous</h1>
          <blockquote class="quote">"I was expecting a group of ominous looking lobsters, but was pleasantly surprised." -Average Civilian </blockquote>
          <h2 class="extra">Coming soon...</h2>
        </div>
        <div class ="col-md-6">
          <img class="img-responsive" src="images/Lobster_NSRW-flip.png">
        </div>
      </div>
