body {
  background-color: #e74c3c;
}

.wrap {
  padding-top: 15%;
  padding-bottom: 15%;
}

.product {
  color: #ecf0f1;
  font-size: 3em;
  text-align: center;
}

.quote {
  color: #ecf0f1;
  text-align: center;
}

.extra {
  color: #ecf0f1;
  font-size: 2em;
  text-align: center;
}

.extra-extra {
  color: #ecf0f1;
  font-size: 1.5em;
  text-align: center;
}

#lobster-side {
  display: block;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
